.home {
  color: #fff;
  font-family: 'Comfortaa', sans-serif;
  font-size: 2rem;

  display: grid;
  justify-items: center;
  gap: 2em;
}

.home img {
  max-width: 90%;
  height: auto;
}

.home p:not(:first-child) {
  font-size: 1rem;
}