/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*  */

:root {
  --color-darkest: #0f0f0f;
  --color-brown: #493110;
  --color-darkest-opacity: rgba(15, 15, 15, 0.8);
  --color-brown-opacity: rgb(73, 49, 16, 0.8);
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-VariableFont.ttf');
  font-weight: 300 700;
}

@font-face {
  font-family: 'Indie Flower';
  src: url('../fonts/IndieFlower-Regular.ttf');
}


body {
  background: radial-gradient(circle at top left,transparent 9%, #493110 10% ,#493110 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #493110 10% ,#493110 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #493110 10% ,#493110 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #493110 10% ,#493110 15% , transparent 16%),radial-gradient(circle, transparent 25%, #0f0f0f  26%),linear-gradient(45deg, transparent 46%, #493110 47%, #493110 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #493110 47%, #493110 52%, transparent 53%);
        background-size: 2em 2em;
        background-color: #0f0f0f;
        opacity: 1;
}

body {
  display: grid;  
  grid-template-rows: max-content max-content 3fr;
  justify-content: center;
  justify-items: center;
}

header {
  color: #fff;
  font-family: 'Indie Flower', cursive , sans-serif ;
  font-size: 3rem;
  margin-top: 0.5em;

  background-image: url('../images/logo-cat.png');
  background-size: contain;
  background-repeat: no-repeat;
}

header  p:first-child {
  margin-top: 2.5em;
}

#tabs {
  color: #fff/* var(--color-brown) */;
  font-family: 'Comfortaa',  sans-serif;
  font-size: 2rem;

  width: 500px;
  /* background-color: var(--color-darkest-opacity); */
  padding: 0.5em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#tabs ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

#tabs li {
  background-color: var(--color-darkest-opacity);
  padding: 0.5em;
  transition: all 0.5s ease-out;
}

#tabs li:hover {
  cursor: pointer;
  background-color: var(--color-brown-opacity);
}

#content {
  background-color: var(--color-darkest-opacity);
  height: fit-content;
  width: 1000px;
  padding: 2em 0;

  font-family: 'Comfortaa',  sans-serif;

  /* display: grid;
  justify-content: center; */
}

footer {
  height: 3em;
}

#tabs #links .current-tab {
  background-color: var(--color-brown-opacity);
}